<div class="page-header">
    <h1>Le combat le plus attendu de l'histoire du web</h1>

    <p>Il ne doit en rester qu'un</p>
</div>
<p class="lead">Les Joueurs</p>
<div class="row">
  {{#each players}}
    <div class="span4">
      <div class="well">
        <h4>{{firstName}} {{lastName}}</h4>

        <p>{{twitter}} - {{framework}}</p>
        <label class="checkbox">
          {{input type="checkbox" checkedBinding="isReady"}}
          <span>prêt au combat</span>
        </label>

        <button {{action removePlayer this}}>déclare forfait</button>
      </div>
    </div>
  {{/each}}
</div>

{{#linkTo addPlayer class="btn"}}Ajouter un joueur{{/linkTo}}

{{#if readyToFight}}
  <a class="btn" {{action createFight}}>Envoyer sur le ring</a>
{{/if}}

<br><br>
<div>
  {{#each fights}}
    <div class="row">
        <div class="span5">
          {{render opponent firstOpponent}}
        </div>
        <div class="span2 centered">
            <br>
            <br>
            <h4>VS</h4>
        </div>
        <div class="span5">
          {{render opponent secondOpponent}}
        </div>
    </div>
    <a class="btn" {{action removeFight this}}>Annuler le combat</a>
    <br><br>
  {{/each}}
</div>
