<div class="well centered">
  <h4>{{firstName}} {{lastName}}</h4>
  <button class="btn font24" {{action decrementScore}} {{bindAttr disabled="isZero"}}>-</button>
  <span class="score">{{score}}</span>
  <button class="btn font24" {{action incrementScore}}>+</button>
</div>
