<label>Prénom : </label>
{{input class="input-medium" value=firstName}}
<label>Nom : </label>
{{input class="input-medium" value=lastName}}
<label>Twitter : </label>
{{input class="input-medium" value=twitter}}
<label>Framework : </label>
{{input class="input-medium" value=framework}}

<br>
<a {{action cancel}} class="btn">Annuler</a>
